
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<head><meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sign In</title>

<link rel="stylesheet" href="css/stylesheet.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<link rel="javascript" href="js/bootstrap.min.js">
<link rel="javascript" href="js/jquery.min.js">
<link rel="icon" href="img/bussiness-man.png">
</head>
<style>

body {
 /*  background-image: url('img/lubo-minar-TrpdzVh2_pE-unsplash.jpg'); */
   background-image: linear-gradient(to right top, #0F2027,#203A43,#2C5364);
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.card
{
position: relative;

}

</style> 
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="background-color:transparent !important">
                <form action="/login" class="box" method="post">
                    <h1>Sign in</h1>
                    <p style="color: azure;"> Please enter your Credentials</p> 
                    <input type="text" name="username" id="username" placeholder="Username"  required="required">
                     <input type="password" name="password" id="password" placeholder="Password"  required="required">
                    
                      <input type="submit" name="submit" value="Login"> 
                     
                       </form>
                       <br><form action="/register" class="smallbox" style="top: 440px;" method="get">
                         <input type="submit" name="submit" value="Register"> 
                          <span th:if="${param.loginError}"style=" color: darkorange;" >Incorrect Credentials</span>
                         </form>
                        
                
                
            </div>
        </div>
    </div>
</div>
</body>
</html>