
<html>
<title>Sign Up Success</title>
<!-- <canvas id="c"></canvas> -->
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<link rel="javascript" href="js/bootstrap.min.js">
<link rel="javascript" href="js/jquery.min.js">
<link rel="icon" href="img/apply-skin-type-7.png">

<style>
body {
  background-image: url('img/actionvance-n-2_KHgeAy0-unsplash.jpg');
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.card
{
position: relative;

}
</style> 
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="background-color:transparent !important">
           
                <form action="/login" class="box" method="get">
                 <h1>Hey Kiddo! You're one of Us Now.</h1>
                   
                      <input type="submit" name="submit" value="Wanna Login!!"> 
                      
                       </form>
                     
                
            </div>
        </div>
    </div>
</div>
</body>
</html>