<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<title>Sign Up</title>
<!-- <canvas id="c"></canvas> -->
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="icon" href="img/apply-skin-type-7.png">
<link rel="javascript" href="js/bootstrap.min.js">
<link rel="javascript" href="js/jquery.min.js">

<style>
body {
  background-image: url('img/leaf.jpeg');
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.card
{
position: relative;

}
</style> 
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="background-color:transparent !important">
                <form action="/registration-success" class="box" method="post">
                    <h1>Sign Up</h1>
                    <p style="color: azure;"> Please Register by Yourself!!!</p> 
                    
                    <input type="text" name="username" id="username" placeholder="Username"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" required="required">
                     <input type="password" name="password" id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" required="required">
                    
                      <input type="submit" name="submit" value="Join Us"> 
                     
                       </form>
                       <br>
                       <form action="/login" class="smallbox" style="top: 440px;" method="get">
                         <input type="submit" name="submit" value="Wanna Logout!!"> 
                          <span th:if="${username != null}" style=" color: darkorange;" >Username Already exists!</span>
                         <!--   <span th:if="${empty != null}" style=" color: darkorange;" >Credentials Shouldn't be Empty!</span> -->
                         </form>
                        
                        
                 
                
            </div>
        </div>
    </div>
</div>
</body>
</html>